<div *ngIf="!mobile">
  <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <a class="logo navbar-brand text-dark" href="#">
                <strong><img src="/assets/img/logos/Simbolo flor COR.png" alt="logo" width="40" height="40">Mindful
                  Play</strong>
              </a>
            </div>
            <div class="col-md-9">
              <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li *ngFor="let link of links" class="dropdown">
                  <a class="dropdown-toggle" href="#{{link.id}}">{{link.title}} <span
                      class="sr-only">(current)</span></a>
                  <div *ngIf="link.subLink" class="dropdown-content">
                    <div *ngFor="let subLink of link.subLinks">
                      <a href="#{{subLink.id}}">{{subLink.title}}</a>
                    </div>
                  </div>
                </li>
                <li *ngFor="let link of links2" class="dropdown">
                  <a class="dropdown-toggle" href="#{{link.id}}">{{link.title}} <span
                      class="sr-only">(current)</span></a>
                  <div *ngIf="link.subLink" class="dropdown-content">
                    <div *ngFor="let subLink of link.subLinks">
                      <a href="#{{subLink.id}}">{{subLink.title}}</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
</div>

<div *ngIf="mobile">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Mindful Play</a>
    <div class="collapse navbar-collapse dropdown" id="navbarTogglerDemo03"
      style="position: relative; z-index: 1000; scroll-behavior: auto;">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngFor="let link of links" class="nav-item active">
          <a class="nav-link dropbtn" href="#{{link.id}}">{{link.title}} <span class="sr-only">(current)</span></a>
        </li>
        <li *ngFor="let link of links2" class="nav-item active">
          <a class="nav-link" href="#{{link.id}}">{{link.title}} <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>