<div class="col-md-12">
    <ul class="nav nav-tabs nav-pills" style="background-color: white;">
        <li routerLinkActive="active" class="nav-item col-md-2">
            <a routerLink="/home" (click)="home()" class="nav-link"><img src="assets/img/logos/Simbolo flor COR.png"
                    alt="logo" width="30" height="30">
                Bem-vindo</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/blog" (click)="blog()" class="nav-link">Blog</a>
        </li>
        <div *ngIf="!isBlog">
            <li routerLinkActive="active" *ngFor="let link of links" class="dropdown nav-item">
                <a pageScroll (click)="subLink()" class="dropdown-toggle nav-link" data-hover="dropdown"
                    href="#{{link.id}}">{{link.title}}</a>
                <!--div *ngIf="link.subLink" [ngClass]="showSubLink === 'none'? 'dropdown-content' : '' "-->
                <div *ngIf="link.subLink" class="dropdown-content" style="margin-top: -20px;">
                    <ul>
                        <li *ngFor="let subLink of link.subLinks">
                            <a pageScroll href="#{{subLink.id}}"><strong>{{subLink.title}}</strong></a>
                        </li>
                    </ul>
                </div>
            </li>
        </div>
    </ul>
    <router-outlet></router-outlet>
</div>