<div class="col-md-12 mt-4">
  <div class="row">
    <div *ngFor="let images of blogImages" class="col-md-3">
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="assets/img/images/{{images.imageName}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{images.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Acessar matéria</a>
        </div>
      </div>
    </div>
  </div>
  <!--ngx-link-preview apiRoute="demo" [links]="links"
    [getApiEndpoint$]="apiCallbackFn">
    <h2>Here can be your custom loading spinner</h2>
  </ngx-link-preview-->
</div>