<!--app-navbar></app-navbar-->
<!--O QUE É-->
<div id="mindfulness" style="background-image: url('/assets/img/images/foto 9.jpg');background-repeat: repeat-y;">
    <div class="section section-header">
        <div class="parallax filter filter-color-red">
            <div class="image"
                style="background-image: url('assets/img/images/foto 3.jpg');background-repeat: repeat-y;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="center title-area">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h1 style="font-size: 50px;">O que é</h1>
                                    <hr>
                                    <h1 style="font-size: 40px;">Mindfulness?</h1>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <p class="text-uppercase"><strong>Mindfulness</strong> é um conjunto de práticas
                                        possíveis de serem
                                        realizadas por
                                        qualquer um, capazes de proporcionar às pessoas melhor qualidade na realização
                                        de suas
                                        tarefas diárias, uma vez que as ajuda a ter mais consciência de seus
                                        pensamentos, sensações
                                        e ao que se passa ao seu redor, permitindo a elas maior qualidade em suas ações
                                        e tomadas de
                                        decisão.</p>
                                </div>
                            </div>
                            <div id="about"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SOBRE-->
    <div class="section section-header">
        <div class="parallax filter filter-color-yellow" style="height: 800px;">
            <div class="image"
                style="background-image: url('assets/img/images/foto 8.jpg');background-repeat: repeat; height: 100%;">
            </div>
            <div class="container">
                <div class="content center">
                    <div class="title-area">
                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 style="font-size: 40px;">Sobre a</h1>
                                    <h1 style="font-size: 40px;">Mindful Play</h1>
                                </div>
                                <div class="col-md-6">
                                    <p class="description">A <strong>Mindful Play</strong> oferece as práticas de
                                        Mindfulness para
                                        crianças com idade a partir dos 5 anos e para os segmentos do Ensino Fundamental
                                        1 e
                                        2, além
                                        do
                                        Ensino Médio. As práticas, adaptadas ao universo infantil e infantojuvenil,
                                        podem
                                        ser
                                        realizadas em escolas, em atendimento individual ou em pequenos grupos. Podem,
                                        também, ser
                                        conduzidas em português ou em inglês, no formato de aulas presenciais ou
                                        remotas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--METODOLOGIA-->
    <div class="section section-header" id="metodologia">
        <div class="parallax filter filter-color-yellow">
            <div class="image"
                style="background-image: url('assets/img/images/metologia arts and crafts.jpg');background-repeat: repeat;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 style="font-size: 50px;">Metodologia</h1>
                        <hr>
                        <p class="description">A Mindful Play lança mão de metodologias da Mindful Schools, precursora,
                            nos
                            EUA, de Mindfulness na Educação; da MindKids, uma das iniciativas pioneiras no Brasil; e da
                            Inner Kids Foundation, de Susan Kaiser Greenland, uma das primeiras a adaptar as práticas de
                            Mindfulness para crianças.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-header" id="metodologia">
        <div class="parallax filter filter-color-yellow">
            <div class="image"
                style="background-image: url('assets/img/images/metodologia plays.jpg');background-repeat: repeat;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>
                            A Mindful Play entende que as aulas devem ser dinâmicas, lúdicas e interessantes. Nela, as
                            aulas
                            são desenvolvidas com o intuito de instigar a curiosidade dos alunos, além de gerar maior
                            engajamento deles. Para isso, são utilizados diversos recursos, como jogos de atenção plena,
                            histórias, brincadeiras, vídeos e atividades "hands-on", entre outros. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--PROGRAMA-->
    <div class="section section-header" id="programa">
        <div class="parallax filter filter-color-yellow">
            <div class="image"
                style="background-image: url('assets/img/images/IMG_2170.jpeg');background-repeat: repeat;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 style="font-size: 50px;">Programa</h1>
                        <h2 style="font-size: 20px;">Inserções em aulas regulares</h2>
                        <p class="description">Cerca de 15 minutos de alguma(s) disciplina(s) são destinados à inclusão
                            de aulas de Mindfulness para os alunos. Durante esse período, a instrutora, além de ensinar
                            conceitos relacionados a essa prática, realiza exercícios de Mindfulness e aborda a
                            importância de cultivá-los.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-header" id="programa" style="margin-bottom: -50px;">
        <div class="parallax filter filter-color-yellow">
            <div class="image"
                style="background-image: url('assets/img/images/IMG_2160.jpeg');background-repeat: repeat;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h2 style="font-size: 20px;">Aulas extracurriculares</h2>
                        <p class="description">Neste modelo, as aulas são ensinadas no padrão extracurricular ou em
                            aulas eletivas e podem ter a duração entre 45 minutos e 1 hora. Em cada módulo, é
                            trabalhada, de forma mais detalhada e imersiva, a relevância do Mindfulness junto com a
                            prática de jogos de atenção plena e exercícios de reflexão, com a utilização de metodologias
                            ativas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sobre a Instrutora-->
    <!--div class="section section-header" id="programa">
        <div class="parallax filter filter-color-yellow">
            <div class="image" style="background-image: url('assets/img/images/foto 4.jpg');background-repeat: repeat;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <h1 style="font-size: 50px;">Sobre a Instrutora</h1>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/img/images/IMG_2864.jpeg" style="width: 400px; height: 300px;"
                                        class="img-fluid" alt="Instrutora">
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div-->
    <div class="section section-our-team-freebie">
        <div class="parallax filter filter-color-black">
            <div class="image" style="background-image:url('assets/img/images/foto 10.jpg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="title-area">
                            <h2 style="font-size: 50px;">Sobre a Instrutora</h2>
                            <div class="separator separator-danger">✻</div>
                        </div>
                    </div>

                    <div class="team">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div>
                                                    <img alt="Instrutora" style="height: 220px; width: 320px;"
                                                        src="assets/img/images/IMG_2864.jpeg" />
                                                </div>
                                                <div class="description">
                                                    <h3 class="title">Lilian</h3>
                                                    <p class="small-text">Instrutora</p>
                                                    <p class="description text-justify">Acredito que, quando nos
                                                        conectamos conosco e com os outros, somos capazes de transpor
                                                        barreiras e de atingir o máximo do nosso potencial. Após uma
                                                        realizadora trajetória de mais de 16 anos de experiência em
                                                        grandes escolas como professora de Inglês e produtora de
                                                        materiais pedagógicos, conheci o universo Mindfulness com foco
                                                        em sala de aula, e foi amor à primeira vista. Desde então,
                                                        tornei-me uma praticante em constante aprendizado e formação.
                                                    </p>
                                                    <p class="description text-justify">
                                                        Além de psicopedagoga, sou instrutora de Mindfulness para
                                                        crianças e adolescentes, treinada e certificada pela MindKids,
                                                        tendo também participado do "Curso de qualidade de vida baseado
                                                        em Mindfulness”, do Centro Paulista de Mindfulness. Além disso,
                                                        cursei o programa Mindful Educator Essential, pela Mindful
                                                        Schools/USA, e sigo com outra formação em andamento por essa
                                                        mesma renomada instituição americana - referência internacional
                                                        em Mindfulness na área educacional.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--div class="col-md-4">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="description">
                                                    <p class="description">Além de psicopedagoga, sou instrutora de Mindfulness para crianças e adolescentes, treinada e certificada pela MindKids, tendo também participado do "Curso de qualidade de vida baseado em Mindfulness”, do Centro Paulista de Mindfulness. Além disso, cursei o programa Mindful Educator Essential, pela Mindful Schools/USA, e sigo com outra formação em andamento por essa mesma renomada instituição americana - referência internacional em Mindfulness na área educacional.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div-->
                                    <div class="col-md-8">
                                        <div class="card card-member">
                                            <div class="content">
                                                <div class="description">
                                                    <p class="small-text"><strong>Um pouquinho da minha
                                                            história</strong></p>
                                                    <p class="description text-justify">Cada pessoa busca um programa de
                                                        Mindfulness ou meditação por razões distintas: gerenciar
                                                        estresse, dormir melhor, melhorar o foco etc. Para mim, um dos
                                                        fatores que me levaram ao Mindfulness foi a necessidade de
                                                        diminuir minha ansiedade e me tornar menos reativa. <br><br>

                                                        A meditação entrou em minha vida há mais de uma década, por meio
                                                        da Yoga e de práticas contemplativas orientais. Fiz um curso de
                                                        Meditação Transcendental, mas seguia, até então, conhecendo
                                                        somente algumas práticas formais. Em 2018, comecei a ouvir falar
                                                        de Mindfulness no Ambiente Educacional e, tempos depois, conheci
                                                        a MindKids, que me abriu as portas desse universo de inúmeras
                                                        possibilidades! <br> <br>

                                                        Desde então, as práticas de Mindfulness foram lentamente
                                                        transformando a maneira como eu me relaciono comigo e com o que
                                                        está ao meu redor. Bom, vale dizer que eu estou bem longe de ser
                                                        do tipo "supermeditadora", e que sempre foi um desafio lidar com
                                                        meu turbilhão interno de pensamentos, sensações e emoções. Mas
                                                        não desisti: comecei bem devagar (alguns poucos minutos por dia)
                                                        e, ao longo dos meses e anos, fui conseguindo ampliar o tempo e
                                                        a qualidade da prática. Pequenas pausas para algumas respirações
                                                        conscientes ao longo do dia também me ajudaram nesse treino da
                                                        mente, nessa jornada de autodescoberta.<br><br>

                                                        Pouco a pouco, fui sendo capaz de perceber quando a ansiedade
                                                        começava a se manifestar em meu corpo, ou seja, a percebê-la se
                                                        aproximando ou aumentando, a fim de buscar recursos para lidar
                                                        com ela. Autorregulação e equilíbrio emocional são um dos muitos
                                                        benefícios que a prática de Mindfulness proporciona, mas vale
                                                        frisar que não há uma fórmula mágica aqui, e o tempo e a
                                                        resiliência são os nossos melhores aliados. <br><br>

                                                        Descobri, ao longo destes anos, que estar atenta ao que está
                                                        acontecendo dentro e fora de mim não era possível só por meio
                                                        das práticas formais (meditar sobre uma almofada, por exemplo).
                                                        Entendi que Mindfulness é um conjunto de habilidades que podemos
                                                        aplicar em nossa vida diária. Ou seja, podemos “estar mindful"
                                                        ao caminhar, ao fazer uma refeição, ao realizar uma tarefa
                                                        doméstica, ao interagir com os outros etc. Essas são as práticas
                                                        conhecidas como informais. <br><br>

                                                        Além do mais, do que adianta ter uma mente focada e calma se não
                                                        podemos trazê-la para os nossos relacionamentos e o trabalho, se
                                                        não conseguimos usá-la para lidar com todos os desafios com que
                                                        nos deparamos diariamente? <br><br>

                                                        <em>Mindfulness</em> significa prestar atenção no que queremos,
                                                        com uma mente aberta, gentil e curiosa. Estar atento pode nos
                                                        ajudar a desenvolver mais o foco atencional, pode nos ajudar a
                                                        fazer uma pausa ou a nos acalmar quando estamos nos sentindo
                                                        deprimidos, ansiosos, raivosos etc. <br><br>

                                                        As práticas de Mindfulness também nos levam a ser mais gentis
                                                        conosco e com os outros ao nosso redor (habilidades como
                                                        compaixão e bondade podem ser aprendidas e desenvolvidas).
                                                        Podem, inclusive, nos ajudar a saborear e a guardar os bons
                                                        momentos que vivemos, para que eles durem um pouco mais!<br><br>

                                                        Bom, o fato é que a meditação treina a nossa mente, assim como
                                                        os exercícios físicos treinam o nosso corpo. Mas, felizmente, a
                                                        gente não precisa ir até as montanhas do Himalaia para fazer
                                                        isso. As práticas são simples e possíveis de serem realizadas.
                                                        Então, por que não experimentá-las?<br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--MINDFULNESS NO AMBIENTE EDUCACIONAL-->

    <div class="section section-header" id="sabia">
        <div class="parallax filter filter-color-yellow" style="height: 800px;">
            <div class="image" style="background-image: url('assets/img/images/foto 4.jpg');background-repeat: repeat; height: 100%;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area" style="margin-top: 10px;">
                        <h1 style="font-size: 30px;">MINDFULNESS NO AMBIENTE EDUCACIONAL</h1>
                        <h2 style="font-size: 20px;">Você sabia?</h2>
                        <p class="description">Muitas escolas têm adotado as práticas de Mindfulness no Brasil e no
                            exterior para desenvolver habilidades como autorregulação emocional, foco atencional,
                            empatia e compaixão. Além de desenvolver resiliência, o Mindfulness melhora o desempenho
                            escolar e ajuda a fortalecer as competências essenciais para o cultivo de bem-estar e
                            felicidade.
                        </p>
                        <p class="description">Países como Inglaterra e Índia têm sistematicamente incorporado
                            Mindfulness em seus currículos escolares.
                            Desde 2019, 370 escolas na Inglaterra incluíram Mindfulness em seu currículo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-header" id="sabia">
        <div class="parallax filter filter-color-yellow" style="height: 1000px;">
            <div class="image" style="background-image: url('assets/img/images/foto 2.jpg');background-repeat: repeat; height: 100%;">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area" style="margin-top: 20px;">
                        <p class="description">Também não faltam programas de Mindfulness baseados nos Estados Unidos. A
                            Mindful Schools, por exemplo, já treinou mais de 50.000 educadores em Mindfulness. No
                            Brasil, também contamos com inúmeros programas sendo adotados em escolas por todo o país. <br>

                            De acordo com um ensaio publicado na revista Developmental Psychology, alunos dos últimos
                            anos do Ensino Fundamental 1 de uma escola pública em British Columbia (Canadá) que
                            participaram de um programa de Mindfulness apresentaram os seguintes resultados:
                            tiveram notas 15% melhores em Matemática;
                            mostraram aumento de 24% nas habilidades interpessoais;
                            foram 24% menos agressivos e se perceberam como 20% mais pró-sociais.<br>

                            Esses alunos ainda demonstraram melhora em seu controle cognitivo, em seus níveis de
                            estresse, além de controle emocional, otimismo, empatia e foco atencional.

                        </p>
                        <br>
                        <p class="description"><em><strong>Fontes: </strong>University of British Columbia, <br>Mindfulness based programs in schools
                            Time Magazine</em>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--CONTATO-->

    <div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image" style="background-image: url('assets/img/images/foto 5.jpg'); background-repeat: repeat; height: 100%;">
            </div>
            <div class="container">
                <div class="title-area">
                    <h2 class="text-white">Do you want to work with us?</h2>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> We are keen on creating a second skin for anyone with a sense of style! We
                        design our clothes having our customers in mind and we never disappoint!</p>
                </div>

                <div class="button-get-started">
                    <a href="#gaia" class="btn btn-danger btn-fill btn-lg">Contato</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>